@using Frontend.Contracts.Abstract_Services.AuditMissionService
@using Frontend.Contracts.Abstract_Services.CurrentUserAuditMissionService
@using Frontend.Contracts.Abstract_Services.ObjectiveService
@using Frontend.EntityDtos.AuditMission
@using Frontend.EntityViewModels.Objective
@using Frontend.Services.AuthentificationServices
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase


@inject IObjectiveService _objectiveService
@inject CustomAuthStateProvider customAuthState
@inject ICurrentUserAuditMissionService _currentAuditMissionService
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject IAuditMissionService _auditMissionService
@inject NotificationService NotificationService
<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader Style="display: flex; justify-content: space-between;">


        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)"/>
            <RadzenLabel Text="AudIT App"/>
        </RadzenStack>

        <RadzenStack class="rz-mx-12" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenMenu>
                <RadzenMenuItem Icon="dashboard" Text="Menu">
                    <RadzenMenuItem Icon="account_circle" Text="Profile"></RadzenMenuItem>
                    <RadzenMenuItem Icon="markunread_mailbox" Text="Notifications"> </RadzenMenuItem>
                </RadzenMenuItem>
            </RadzenMenu>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Style="display: flex;  justify-content: space-between; flex-direction: column;" @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>


            @if (!isAuthenticated)
            {
                <RadzenPanelMenuItem Text="Home" Icon="home"/>
                <RadzenPanelMenuItem Text="Login" Icon="account_circle" Click="@(() => NavigationManager.NavigateTo("/login"))"/>
                <RadzenPanelMenuItem Text="Register" Icon="account_circle" Click="@(() => NavigationManager.NavigateTo("/register"))"/>
            }
            else
            {
                <RadzenPanelMenuItem class="rz-my-4" Text="Home" Path="/" Icon="home"/>

                <RadzenPanelMenuItem Icon="chrome_reader_mode" Text="Audit Missions">
                    <RadzenPanelMenuItem class="rz-my-2" Text="Current Mission" Path=@($"/audit-mission/{_currentUserAuditMission}") Icon="favorite"/>
                    <RadzenPanelMenuItem class="rz-my-2" Text="Create Mission" Path="/create-mission" Icon="add"/>
                    <RadzenPanelMenuItem class="rz-my-2" Text="List Missions" Path="/audit-missions" Icon="list"/>
                    <RadzenPanelMenuItem class="rz-my-2" Text="Search Audit Mission" Icon="search">
                        <RadzenStack class="rz-my-2" Orientation="Orientation.Vertical">

                            <RadzenAutoComplete ValueChanged="@((value) => AuditMissionSearchChanged(value))"
                                                TextProperty="Name"
                                                Data="@_auditMissions"
                                                Placeholder="Audit Mission name...">
                            </RadzenAutoComplete>
                            <RadzenButton Click="@NavigateToAuditMission" Text="Go" ButtonStyle="ButtonStyle.Dark" Size="ButtonSize.Small"></RadzenButton>
                        </RadzenStack>
                    </RadzenPanelMenuItem>
                </RadzenPanelMenuItem>

                <RadzenPanelMenuItem class="rz-my-4" Icon="all_out" Text="Objectives">
                    <RadzenPanelMenuItem class="rz-my-2" Text="Create Objective" Path="/create-objective" Icon="add"/>
                    <RadzenPanelMenuItem class="rz-my-2" Text="List Objectives" Path="/objectives" Icon="list"/>
                    <RadzenPanelMenuItem class="rz-my-2" Text="Create Objective Action" Path="/create-objective-action" Icon="add"/>
                    <RadzenPanelMenuItem class="rz-my-2" Text="Search Objective" Icon="search">

                        <RadzenStack Orientation="Orientation.Vertical">
                            <RadzenAutoComplete Data="@_objectives"
                                                TextProperty="Name"
                                                ValueChanged="@((value) => ObjectiveChanged(value))"
                                                Placeholder="Objective name...">
                            </RadzenAutoComplete>
                            <RadzenButton Click="@NavigateToObjective" Text="Go" ButtonStyle="ButtonStyle.Dark" Size="ButtonSize.Small"></RadzenButton>
                        </RadzenStack>

                    </RadzenPanelMenuItem>

                </RadzenPanelMenuItem>

                <RadzenPanelMenuItem class="rz-my-4" Icon="feedback" Text="Recommendations">
                    <RadzenPanelMenuItem class="rz-my-2" Path="add-recommendation" Icon="add" Text="Add Recommendation"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem class="rz-my-2" Path="recommendations" Icon="list" Text="View Recommendations"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>

                <RadzenPanelMenuItem class="rz-my-4" Icon="description" Text="Documents">
                    <RadzenPanelMenuItem class="rz-my-2" Text="Upload Document" Path="/upload-document" Icon="add"/>
                    <RadzenPanelMenuItem class="rz-my-2" Text="List Documents" Path="/documents" Icon="list"/>
                </RadzenPanelMenuItem>

                <RadzenPanelMenuItem class="rz-my-4" Icon="history" Text="Activities">
                    <RadzenPanelMenuItem Icon="add" Text="Add Activity"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Icon="list" Path="/activities" Text="List Activities"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Icon="bookmark_border" class="rz-my-4" Text="Export"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem class="rz-my-4" Icon="card_membership" Text="Acces control"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem class="rz-my-4" Icon="build" Text="Configure">
                    <RadzenPanelMenuItem Icon="book" Text="Configure Departments" class="rz-my-2"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Icon="account_balance" class="rz-my-2" Text="Configure Institutions"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            }
        </RadzenPanelMenu>
        <RadzenPanelMenu>
            @if (isAuthenticated)
            {
                <RadzenButton Text="Logout" Click="@SignOut" Icon="logout"></RadzenButton>
            }

        </RadzenPanelMenu>

    </RadzenSidebar>
    <RadzenBody>


        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </RadzenBody>
</RadzenLayout>
<RadzenDialog/>
<RadzenNotification></RadzenNotification>
<RadzenTooltip></RadzenTooltip>

@code
{

    bool sidebarExpanded = true;
    bool isAuthenticated = false;
    private Guid _currentUserAuditMission = Guid.Empty;

    private Guid _selectedObjectiveId = Guid.Empty;
    private Guid _selectedAuditMissionId = Guid.Empty;

    private List<BaseAuditMissionDto> _auditMissions = [];
    private List<BaseObjectiveViewModel> _objectives = [];

    protected override async Task OnInitializedAsync()
    {
        customAuthState.AuthenticationStateChanged += RefreshNavbar;
        var authState = await customAuthState.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity is { IsAuthenticated: true };

        await FetchAuditMissions();
        await FetchCurrentAuditMission();
        await FetchObjectives();
    }

    private async Task FetchAuditMissions()
    {
        var auditMissions = await _auditMissionService.GetAuditMissionByOwnerId();
        if (auditMissions.Success)
        {
            _auditMissions = auditMissions.DtoResponses;
        }
    }

    private async Task FetchCurrentAuditMission()
    {
        var result = await _currentAuditMissionService.GetCurrentUserAuditMissionAsync();

        if (result.Success)
        {
            _currentUserAuditMission = result.DtoResponse.AuditMissionId;
        }
    }

    private async Task FetchObjectives()
    {
        if (_currentUserAuditMission == Guid.Empty)
        {
            await FetchCurrentAuditMission();
        }


        var response = await _objectiveService.GetObjectivesByAuditMissionIdAsync(_currentUserAuditMission);

        if (response.Success)
        {
            _objectives = response.DtoResponses;
        }
    }

    private async void RefreshNavbar(Task<AuthenticationState> task)
    {
        // await OnInitializedAsync();
        StateHasChanged();
    }

    private async void SignOut()
    {
        var confirm = await DialogService.Confirm("Are you sure you want to Log out ?", "Confirm Logout", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });

        if (confirm.Value == true)
        {
            isAuthenticated = false;
            customAuthState.SignOut();
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            return;
        }
    }

    private void NavigateToAuditMission()
    {
        if (_selectedAuditMissionId != Guid.Empty)
        {
            NavigationManager.NavigateTo($"/audit-mission/{_selectedAuditMissionId}");
            _selectedAuditMissionId = Guid.Empty;
        }
        else
        {
        }
    }

    private Task AuditMissionSearchChanged(string value)
    {
        var auditMission = _auditMissions.Find(x => x.Name.Equals(value));

        if (auditMission != null)
        {
            _selectedAuditMissionId = auditMission.Id;
        }

        return Task.CompletedTask;
    }

    private Task ObjectiveChanged(string value)
    {
        var objective = _objectives.Find(x => x.Name.Equals(value));


        if (objective != null)
        {
            _selectedObjectiveId = objective.Id;
        }

        return Task.CompletedTask;
    }

    private void NavigateToObjective()
    {
        if(_selectedObjectiveId!=Guid.Empty)
        {
            NavigationManager.NavigateTo($"/objective/{_selectedObjectiveId}");
            _selectedObjectiveId = Guid.Empty;
        }
        else
        {
        }
    }
}